<h1>Hello World!!</h1>

<%= "I LOVE" + " RUBY " %>
<%= 1 + 2 %>

<%  catlady = true %>
<%  if catlady == true %>
<p> you are a crazy cat lady</p>
<% else %>
<p> oops </p>
<% end %>

<% comments = ["Your pictures so cute", "love the dog", "miss you"] %>
<ol>
<% comments.each do |comment| %>
<li><%= comment %></li>
<% end %>
</ol>
